<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Summariser</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="px-[10%] py-[15%]">
    <h1 class="text-9xl">Summarise YouTube Videos</h1>
    <form action="/url_submission" method="post">
        <label for="yt_url">Input Youtube URL</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="yt_url" name="yt_url">
        <br><br>
        <button onclick="changeButton(this)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
        <br><br>
      </form>
      
      <p id = "llm_response_element" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
         {{llm_response|safe}}
      </p>

      <br>
      <br>
      <hr>
      <br>


      <h6 class="text-xl underline font-bold">How It Works: </h6>
      <ol class="list-decimal list-inside">
          <li>When you submit a YouTube URL, we extract the video transcript using code. </li>
          <li>Next, we process the transcript with your local LLM, using a carefully crafted prompt to generate a response.</li>
          <li>Once the LLM finishes generating a response <b>(it may take a while)</b>, we refine the output for clarity and readability..</li>
          <li>Finally, we deliver the polished response directly to you!</li>
        </ol>


    <script src="../static/main.js"> </script>
</body>
</html>
