<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Summarizer</title>
</head>
<body>
    <h1>Summarize YouTube Videos</h1>
    <form action="/url_submission" method="post">
        <label for="yt_url">Input Youtube URL</label>
        <input type="text" id="yt_url" name="yt_url">
        <br><br>
        <button type="submit">Submit</button>
      </form>
      
      <p>
        
      </p>
</body>
</html>
